################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FeedbackAnalyzer/bin/Debug/net6.0
/FeedbackAnalyzer/obj
